<div class="col-md-6 col-md-offset-3 panel panel-default">
	<div class="panel-body">
		<h2>Create an Tickets</h2>

		<%= form_for @ticket do |f| %>



		<!-- account config -->
		<%= form_group_for f, :subject do %>
		<%= f.text_field :subject, class: 'form-control' %>
		<% end %>


		<%= form_group_for f, :account do %>
		<%= collection_select(:tickets, :account, Account.all, :id, :lastname) %>

		<% end %>

	<%= form_group_for f, :account do %>
		<%= collection_select(:tickets, :owner_id, Account.all, :id, :lastname) %>

		<% end %>

		<%= form_group_for f, :demand do %>
		<%= f.text_area :demand, class: 'form-control' %>
		<% end %>

		<%= form_group_for f, :demand do %>
		<%= f.text_area :demand, class: 'form-control' %>
		<% end %>

		<%= form_group_for f, :private do %>
		<%= f.text_field :private, class: 'form-control' %>
		<% end %>
		<%= form_group_for f, :ip do %>
		<%= f.text_field :ip, class: 'form-control' %>
		<% end %>

		<%= form_group_for f, :local do %>
		<%= f.select :local, ([["Escritório", "Escritório"], 
		["FORUM", "FORUM"]]), class: 'form-control' %>
		<% end %>

		<%= form_group_for f, :status do %>
		<%= f.select :status, ([["ATIVO", "ATIVO"], 
		["INATIVO", "INATIVO"]]), class: 'form-control' %>
		<% end %>

		<%= form_group_for f, :priority do %>
		<%= f.select :priority, ([["Urgente", "urgente"], 
		["Normal", "Normal"], ["Emergencia", "Emergencia"]]) %>
		<% end %>


		<%= f.submit class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>