<h2> Create Account </h2>

<%= form_for @account do |f| %>
	<p>
	<%= f.label :name %>
	<%= f.label :lastname %>
	<%= f.label :phone %>
	<%= f.label :phone %>
	<%= f.label :address %>
	<%= #f.label :group %>
	 </p>
<% f.submit %>

<%= end %>
