<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-body">
    <h2>Create an Account</h2>

    <%= form_for @account do |f| %>
      <%= f.fields_for :owner do |o| %>
        <%= form_group_for o, :name do %>
          <%= o.text_field :name, class: 'form-control' %>
        <% end %>
        <%= form_group_for o, :email do %>
          <%= o.text_field :email, class: 'form-control' %>
        <% end %>
        <%= form_group_for o, :password do %>
          <%= o.text_field :password, class: 'form-control' %>
        <% end %>
        <%= form_group_for o, :password_confirmation do %>
          <%= o.text_field :password_confirmation, class: 'form-control' %>
        <% end %>
      <% end %>

      <!-- account config -->
      <%= form_group_for f, :address do %>
      
          <%= f.text_field :address, class: 'form-control' %>
     
      <% end %>

      <%= form_group_for f, :lastname do %>
      <%= f.text_field :lastname, class: 'form-control' %>
      <% end %>

      <%= form_group_for f, :phone do %>
      <%= f.text_field :phone, class: 'form-control' %>
      <% end %>
      <%= form_group_for f, :cellphone do %>
      <%= f.text_field :cellphone, class: 'form-control' %>
      <% end %>

      <%= form_group_for f, :status do %>
<%= f.select :status, ([["ATIVO", "ATIVO"], 
["INATIVO", "INATIVO"]]), class: 'form-control' %>

      <% end %>
      <%= form_group_for f, :work do %>
      <%= f.select :work, ([["ADVOGADO", "ADVOGADO"], 
["ESTAGIARIO", "ESTAGIARIO"], ["ESTAGIARIO 2", "ESTAGIARIO 2"]]) %>
      <% end %>

        <%= form_group_for f, :observation do %>
      <%= f.text_area :observation, class: 'form-control' %>
      <% end %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>